.GameTeaser--Image-No-1 {
	background-image: url('bender.jpg');
}
.GameTeaser--Image-No-2 {
	background-image: url('screen2.jpg');
}
.GameTeaser--Image-No-3 {
	background-image: url('screen3.jpg');
}
.GameTeaser--Image-No-4 {
	background-image: url('screen4.jpg');
}

/* tablets and desktops */
@media (min-width: 640px) and (min-height: 480px) {
	.GameTeaser {
		background-image: url('/c/504/bg-dark.jpg');
		background-position: center bottom;
	}
	.GameTeaser--Image {
		width: 480px;
		height: 360px;
		background-size: 480px 360px;
	}
	.GameTeaser--Image-No-1 {
		background-image: url('bender.jpg');
	}
	.GameTeaser--Image-No-2 {
		background-image: url('screen2.jpg');
	}
	.GameTeaser--Image-No-3 {
		background-image: url('screen3.jpg');
	}
	.GameTeaser--Image-No-4 {
		background-image: url('screen4.jpg');
	}
}
