<section class="GameTeaser">
    <div class="GameTeaser--AppId">42</div>
</section>


<section class="ButtonBar">
    <span class="ButtonBar--Form ButtonBar--Form-Pos-left">
        <button 
            id="sign-in"
            class="Button Button-Type-whiteBorder Button-Icon-4game Button-Width-flex"
        >Войти</button>
    </span>

    <span class="ButtonBar--Form ButtonBar--Form-Pos-right">
        <button 
            id="sign-up"
            class="Button Button-Type-yellow Button-Width-flex"
        >Зарегистрироваться</button>
    </span>
</section>

